/Exer03_ComparaValores.class
/Exer04_MinimoParenteses.class
/Exer05_AntecessorSucessor.class
/Exer06_Triangulo.class
/Exer07_ConversorIdade.class
/Exer08_Eleitoras.class
/Exer09_ReajusteSalario.class
/Exer10_CustoCarros.class
/Exer11_FabricaCarros.class
